@{
  Layout = "_Layout";
}
<main class="container">

  <h1>Welcome to the University Registrar!</h1>
  <p>@Html.ActionLink("See all Registered Students", "Index", "Students")</p>
  <p>@Html.ActionLink("See all Courses", "Index", "Courses")</p>
  <p>@Html.ActionLink("See all Departments", "Index", "Departments")</p>
</main>